* {
  box-sizing: border-box;
}

.fa {
  &.green {
    color: #5cb85c;
  }
  &.red {
    color: #c9302c;
  }
}
.admin-actions {
  margin: 10px 0;
}
h1.admin {
  display: inline-block;
}

ul.nav.nav-tabs.admin-tabs >li {
  min-width: 88px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  i {
    display: block;
    margin-bottom: 5px;
  }
}
.header{
  overflow: hidden;
  clear: both;
  .admin-logout {
    margin-bottom: 5px;
  }
}
.dropdown.admin {
  display: inline-block;
}
////////////////////////////////////////////////////////////////////
a.time {
  color: inherit;
  border-bottom: 1px dashed #333;

  &:hover, &:focus {
    text-decoration: none;
    border-bottom: 1px solid #333;
  }
}

nav.login-bar {
  overflow: hidden;
  clear: both;
  margin-bottom: 10px;

  > ul.nav {
    line-height: 34px;
  }
}
.top-nav>.open>.dropdown-menu>li>form>a {
  white-space: normal;
}
.dropdown-menu>li>form>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu>li>form>a:focus, .dropdown-menu>li>form>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.logo {
  text-align: center;
}

.navbar-brand > img {
  display: inline-block;
  max-height: 30px;
}

.project_item {
  position: relative;
  float: left;
  margin: 5px;
  padding: 10px;
  width: 100%;
  background-color: #ccc;
}

.server_failure_item {
  position: relative;
  float: left;
  margin: 5px;
  padding: 10px;
  width: 300px;
  background-color: #ccc;
}

@media only screen and (max-width: 768px) {
  .server_failure_item {
    width: 100%;
  }
}
ul.list {
  list-style: none;
}
