<ul>
  <%= for serv <- @server_failures do %>
    <li><%= serv.title %></li>
    <li><%= serv.request %></li>
    <li><%= serv.processed_by %></li>
    <li><%= serv.exception %></li>
    <li><%= serv.host %></li>
    <li><%= serv.backtrace %></li>
    <li><%= serv.server %></li>
    <li><%= serv.params %></li>
    <li><%= serv.state %></li>
    <li><%= serv.inserted_at %></li>
    <hr>
  <% end %>
</ul>

